@import '../../styles/variables.scss';

.project-card-container {
  border: 2px solid black;
  box-shadow: 5px 5px 20px;
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  background: $alternate-complementing-color;
  height: 100%;
  p {
    font-size: 2rem;
  }
  .project-page-image {
    height: 500px;
    width: 500px;
    object-fit: contain;
  }
  button {
    width: 85px;
    height: 40px;
    background: none;
    border: 2px solid black;
    border-radius: 10px 5%;
    margin-bottom: 10px;
    margin-left: 5px;
  }
  button:hover {
    background: $alternate-color-one;
    border-radius: 10px 5%;
  }
  padding: 15px 15px;
}

.project-step-section {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.steps-container {
  width: 50%;
  display: flex;
  flex-direction: column;
  h2 {
    text-align: center;
  }
  img {
    width: 75%;
    height: 75%;
    object-fit: contain;
    margin: 10px 0 10px 0;
    margin: auto;
  }
  li {
    margin: 10px 0 10px 0;
  }
}
