@import '../../styles/variables.scss';

.passwordContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
  height: 74vh;
}

.forgotPasswordForm {
  display: flex;
  flex-direction: column;
  width: 20%;
  align-items: center;

  form {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  input {
    height: 35px;
    margin-bottom: 5px;
    width: 100%;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid black;
    box-shadow: 2px 2px black;
    font-size: 1.4rem;
    margin-top: 5px;
  }
  button {
    width: 100px;
    border-radius: 5px;
    height: 40px;
    margin-top: 7px;
    font-size: 1.4rem;
    color: black;
    box-shadow: 2px 2px black;
    &:hover {
      background-color: $main-color;
      color: white;
    }
  }
}
