@import "../../../styles/variables.scss" ;

.profile-review-container {
 border: 1px solid black ;
 box-shadow: 5px 5px 20px ;
 display: flex ;
 // width: 300px ;
 flex-direction: column ;
 justify-content: center ;
 max-width: 400px ;
 width: 100% ;
 background: $alternate-complementing-color ;
 button {
  width: 85px ;
  height: 40px ;
  background: none ;
  border: 2px solid black ;
  border-radius: 10px 5%;
  margin-bottom: 10px ;
  margin-left: 5px ;
 }
 button:hover {
  background: $alternate-color-one ;
  border-radius: 10px 5%;
 }
 padding: 15px 15px ;
 margin: 10px 10px ;
}

.inner-review-card {
 // border: 3px solid black ;
//  width: 400px ;

}