@import "../../../styles/variables.scss" ;

.profile-review-container {
 border: 1px solid black ;
 box-shadow: 5px 5px 20px ;
 display: flex ;
 flex-direction: row ;
 justify-content: center ;
 // margin-right: -15px ;
 margin: 10px 10px 10px 20px ;
 
 background: $alternate-color-one ;
 button {
  width: 85px ;
  height: 40px ;
  background: none ;
  border: 2px solid black ;
  border-radius: 10px 5%;
  margin-bottom: 10px ;
  margin-left: 5px ;
 }
 button:hover {
  background: $alternate-color-one ;
  border-radius: 10px 5%;
 }
 padding: 15px 15px ;
}

.inner-review-card {
 border: 3px solid black ;
box-shadow: 0.5px 1px 15px ;
padding: 5px 5px ;
background: $alternate-color-two

}

.review-section-container {
 display: flex;
 flex-direction: row ;
margin: 0 15px 0 -15px ;
}