@import "../../../styles/variables.scss" ;

.project-card-container {
 border: 2px solid black ;
 box-shadow: 5px 5px 20px ;
 display: flex ;
 // width: 300px ;
 flex-direction: column ;
 justify-content: center ;
 background: $alternate-complementing-color ;
 button {
  width: 85px ;
  height: 40px ;
  background: none ;
  border: 2px solid black ;
  border-radius: 10px 5%;
  margin-bottom: 10px ;
 }
 button:hover {
  background: $alternate-color-one ;
 }
 padding: 15px 15px ;
}