.card-container {
 width: 100% ;
 display: flex ;
 flex-direction: row ;
 flex-wrap: wrap;
 justify-content: center ;
 align-items: center ;
 // border: 4px solid green ;
 // align-content: center ;
}

.review-name {
 margin: 6px 1.2em  ;
 font-size: 2rem ;
 // border: 3px solid red ;
}

.review-img {
 margin: 10px 15px ;
 width: 50%;
 height: 50%;
 align-self: center;
}

.project-name {
 // border: 4px solid pink ;
 // order: 3px solid red ;
 text-align: center ;
}

.review-card {
 border: 1px solid gray ;
 margin: 5px 5px 
}

.review-text {
 // border: 3px solid black ;
 text-align: center ;
}

.project-extra {
 border: 4px solid green ;
 margin: 5px 10px ;
}

.headerReview{
text-align: center;
}