@import "../../styles/variables.scss" ;

.profile-form-flex-container {
  display: flex;
  flex-direction: column;
  height: 500px;
  justify-content: space-around;
  
  form {
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   height: 100%;
   
   textarea {
    width: 50%;
      height: 80px;
      resize: none;
      
      @media (max-width: 800px) {
       width: 70%;
      }
      
      @media (max-width: 500px) {
       width: 90%;
      }
     }
     
     img {
      height: 150px;
      width: 10%;
      
      @media (max-width: 800px) {
       width: 30%;
      }
      
      @media (max-width: 500px) {
       width: 50%;
      }
     }
    }
   }
   
   
   .profile-container {
    display: flex ;
    flex-direction: column ;
    justify-content: center ;
    margin: 0 auto ;
    background: $background-color ;
 // border: 1px solid green ;
}

.profile-info {
// border: 1px solid yellow ;
// display: flex ;
// flex-direction: column ;
width: 100% ;

}

.profile-projects {
 // border: 1px solid red ;
 display: flex ;
 flex-direction: row ;
 
}

.profile-liked-reviews {
 // border: 1px solid blue ;
 display: flex ;
 flex-direction: row ;
}

.profile-disliked-reviews {
 // border: 1px solid orange ;
}

.profile-review-card {
 // border: 1px solid purple ;
 display: flex;
 justify-content: center ;
 margin: 10px 10px ;
 // background: $alternate-complementing-color ;
}

.profile-project-card {
 // border: 1px solid yellow ;

 margin: 10px 10px ;
}

.profile-img {
 height: 150px;
 width: 10%;
}

.profile-username {
 // border: 1px solid red ;
 height: 50px ;
}

.liked-reviews {
 // border: 1px solid green ;
 height: 50px ;
}