@import '../../styles/variables.scss';

.project-list-all-container {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  p {
    font-size: 1.8rem;
    margin: 2px;
  }
}

.project-list-title {
  align-self: center;
  color: $main-color;
  font-size: 3.6rem;
  margin-top: 20px;
}
.project-list-container {
  border: 2px solid black;
  display: flex;
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  .project-list-card-title {
    font-size: 3rem;
    text-align: center;
    &:hover {
      color: $main-color;
    }
  }
}

.project-list-card {
  p {
    margin: 1%;
    font-size: 1.8rem;
    text-align: center;
  }
  background-color: $alternate-complementing-color;
  min-width: 400px;
  padding: 1%;
  border: 4px solid $alternate-color-one;
  box-shadow: 5px 5px 5px darkgray;
  height: 550px;
  box-sizing: border-box;
  width: 22%;
  margin: 10px 10px 10px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;

  a {
    &:hover {
      color: $main-color;
    }
  }
}

.project-list-card-img {
  height: 300px;
  width: 375px;
  border: 3px solid $color4;
  margin-bottom: 10px;
  object-fit: contain;
  padding: 1%;
}

.project-list-card-rating-container {
  width: 100%;
  display: flex;
  justify-content: center;
  img {
    height: 30px;
    width: 30px;
    margin: 1%;
    margin-top: 10px;
  }
}
