@import '../../../styles/variables.scss';

.stars {
  display: flex;
  width: 100%;
  justify-content: center;
  img {
    height: 30px;
    width: 30px;
    margin: 1%;
    margin-top: 10px;
  }
}

.featuredCard {
  h3,
  p {
    margin-top: 10px;
    text-align: center;
    font-size: 1.8rem;
  }
  background-color: $alternate-complementing-color;
  padding: 1%;
  border: 4px solid $alternate-color-one;
  box-shadow: 5px 5px 5px darkgray;
  height: 525px;
  box-sizing: border-box;
  width: 22%;
  min-width: 400px;
  margin: 10px 10px 10px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  img {
    height: 300px;
    width: 300px;
  }
  a {
    &:hover {
      color: $main-color;
    }
  }
}
