.footer {
  display: flex;
  width: 100%;
  justify-content: center;
  flex-direction: column;
  height: 150px;
  border: 2px solid gray;
  padding: 10px;
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
}

.bottomNav {
  display: flex;
  flex-direction: column;
  width: 50%;
  justify-content: space-between;
}