@import '../../styles/mixins.scss';

.searchBar {
  display: flex;
  padding-top: 40px;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;

  .searchInput {
    border: 2px solid #bdc3c7;
    width: 70%;
    height: 50px;
    border-radius: 25px;
    padding: 10px;
    display: inline-flex;

    input {
      border: none;
      background-image: none;
      background-color: transparent;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;
      width: 90%;
      font-size: 1.8rem;
      padding: 5px;
    }

    .skeletonBar {
      width: 95%;
    }
  }

  .searchButton {
    margin-left: 1%;
    @include custom-button(20%, 5px);
  }

  @media (max-width: 600px) {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    padding: 30px 10px;

    .searchInput {
      border: 2px solid #bdc3c7;
      width: 100%;
      border-radius: 25px;
      padding: 10px;
      input{
        font-size: 1.8rem;
        height: 50px;
      }
    }

    .searchButton {
      @include custom-button(100%, 20px);
      margin-top: 20px;
    }
  }
}

.filterContainer {
  padding: 0 10px 30px 10px;

  .searchByContainer {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;

    select,
    button {
      width: 20%;
      padding: 10px 0;
      border: 2px solid #bdc3c7;
      margin: 5px 5px;
      text-align: center;
      font-size: 1.6rem;
    }

    label {
      margin: 0 10px;
      font-size: 1.6rem;
    }

    button {
      background-color: #2980b9;
      color: white;
    }

    @media (max-width: 600px) {
      margin: 0;

      .checkboxGroup {
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
      }

      select,
      button {
        width: 30%;
      }
    }
  }
}

.filter-options {
  padding: 30px 10px;
  width: 50%;
  margin: auto;

  .radioGroup {
    display: flex;
    justify-content: flex-start;
    margin: 20px 0;
    flex-wrap: wrap;

    .radio {
      display: flex;
      margin: 0 10px;
    }
  }

  button {
    border: 2px solid #bdc3c7;
    border-radius: 18px;
    padding: 10px 0;
    background-color: #2980b9;
    color: white;
    width: 100%;
  }

  @media (max-width: 600px) {
    width: 100%;
  }
}
