.card {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  overflow: hidden;
  width: 30%;
  height: 400px;
  border: 2px solid black;
  text-align: center;

  img {
    height: 300px;
  }
}