@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto" rel="stylesheet');
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */

* {
  box-sizing: border-box;
  margin: 0 auto;
}

@import url('https://fonts.googleapis.com/css?family=Montserrat');

html {
  font-size: 62.5%;
  font-family: 'Montserrat', sans-serif;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 3.2rem;
}

h3 {
  font-size: 2.8rem;
}

h4 {
  font-size: 2rem;
}

p,
div {
  line-height: 1.5;
  font-size: 1.6rem;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

.standard-flex-container-row {
  display: flex;
  justify-content: space-between;
}

.form-flex-container {
  display: flex;
  flex-direction: column;
  height: 300px;
  justify-content: space-around;

  form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 200px;

    input {
      width: 50%;
      margin: auto;

      @media (max-width: 500px) {
        width: 90%;
      }
    }
  }


}

.btn {
    border: 2px solid #bdc3c7;
		border-radius: 18px;
    padding: 10px 0;
    background-color: #2980b9;
    color: white;
    width: 200px;

    a {
      color: white;
    }

}

.small {
  font-size: 12px;
  width: 70px;
  height: 25px;
}

.medium {
  width: 80px;
  height: 40px;
  font-size: 14px;
}

.large {
  width: 40%;
  height: 50px;
  font-size: 16px;
  margin: 5%;
}

//

/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  left: 36px;
  top: 36px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: white;
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
  background: #388087;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
.bm-menu-wrap {
  position: fixed;
  height: 100%;
}

/* General sidebar styles */
.bm-menu {
  position: sticky;
  top: 2.5em;
  background: #388087;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
  padding: 0.8em;
}

/* Individual item */
.bm-item {
  display: inline-block;
  padding: 0.1em;
}

.bm-item :hover {
  background: #badfe7;
  font-size: 1.25em;
  box-shadow: 5px 5px #6fb3b8;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}

.main-container {
  position: relative;
  top: 100px;
}
