.card {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  overflow: hidden ;
  width: 100%;
  max-width: 23% ;
  margin: 20px 0;
  height: 100% ;
  border: 2px solid #ecf0f1;
  text-align: center;
  border: 1px solid black
  
}

.info-container {
    display: block ;
    height: 40px;
    width: 100% ;
    direction: ltr ;
    text-align: left ;
    white-space: nowrap ;
    text-overflow: ellipsis;
    overflow: hidden ;
  }

.profileImg {
 height: 60%;
 width: 15%;
 height: 50px;
}