.card {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  overflow: hidden;
  width: 23%;
  margin: 20px 0;
  height: 500px;
  border: 2px solid black;
  text-align: center;

  img {
    height: 300px;
  }
}
