.card {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  overflow: hidden;
  width: 23%;
  margin: 20px 0;
  height: 500px;
  border: 2px solid black;
  text-align: center;

  img {
    height: 300px;
  }

  .rating-container {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;

    img {
      width: 20%;
      height: 50px;
    }
  }
}
