//Colors cause the variable names don't already say it
$main-color: #388087;
$alternate-color-one: #6fb3b8;
$alternate-color-three: #873880;
$complementary-color: #873f38;
$alternate-complementing-color: #e5f6ff;
$alternate-color-two: #c2edce;
$background-color: #f6f6f2;

//additional colors
$color1: rgba(174, 180, 169, 1);
$color2: rgba(56, 128, 135, 1);
$color3: rgba(147, 145, 150, 1);
$color4: rgba(160, 164, 184, 1);
$color5: rgba(192, 197, 193, 1);
