//Colors cause the variable names don't already say it
$main-color: #388087;
$alternate-color-one: #6fb3b8;
$alternate-complementing-color: #badfe7;
$alternate-color-two: #c2edce;
$background-color: #f6f6f2;
